In [133]:
import json
import numpy as np
import pandas as pd
import lxml
import re
import os
from datetime import datetime
import pyodbc
import requests

### Get EA script history in JSON format via the API

In [134]:
custom_headers  = {"Authorization": "Gt4qkl1ahFDcFyQwfjMBYT0utbLD4STHQjWdIXzsYH8v3w29M6Tm6tVKI0uMj6Qh", "Content-Type": "application/json"}
url = 'https://ea.executive.automats.app/api/bi/scripts?withHistory=true'

resp = requests.get(url, headers = custom_headers, verify=False)
print(resp.status_code)

/usr/lib/python3/dist-packages/urllib3/connectionpool.py:999: InsecureRequestWarning: Unverified HTTPS request is being made to host 'ea.executive.automats.app'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

200

In [135]:
json_data = json.loads(resp.text)
json_text = json.dumps(json_data, indent=4)

In [136]:
try:
    os.remove('data/execution/try.json')
except:
    print('File does not exist')

with open('data/execution/try.json', 'w') as fw:
    fw.write(json_text)

### Remove invalid characters from the inbound JSON data

In [137]:
try:
    os.remove('data/execution/script_history_fixed.json')
except:
    print('File does not exist')

#with open('data/execution/script_history.json', 'r') as fr:
with open('data/execution/try.json', 'r') as fr:    
    # reading line by line
    lines = fr.readlines()
    last_line = len(lines)
    print(len(lines))
    
    for line in lines:
        line = re.sub("\u0003", "", line)
        with open('data/execution/script_history_fixed.json', 'a') as fw:
            fw.write(line) 

# Previous runtime = 13.8s

1344041

### Parse the multilevel JSON into a CSV file

In [138]:
f = open('data/execution/script_history_fixed.json')
data = json.loads(f.read())

In [139]:
try:
    os.remove('data/execution/check_structure.csv')
except:
    print('File does not exist')
with open('data/execution/check_structure.csv', 'a') as fw:
    #line = 'topProjectName,name,sessionId,executionLogsId,scriptId,scriptName,script_status,label,step_state,step_status,startTime,endTime,duration,lineNum,StepLogsId,takeScreenshots,screenshotsOnlyOnInterruption\n'
    line = 'topProjectName,name,sessionId,executionLogsId,scriptId,scriptName,script_status,label,step_state,step_status,startTime,endTime,duration,lineNum,StepLogsId\n'
    fw.write(line)
    i = 0
    for level1 in data:
        for key, value in level1.items():
            #if i == 100: break
            i = i + 1
            #takeScreenshots_str = str(level1['takeScreenshots'])
            #screenshotsOnlyOnInterruption_str = str(level1['screenshotsOnlyOnInterruption'])            
            try:
                executionLogs_str = json.dumps(level1['executionLogs'])
                executionLogs_json = json.loads(executionLogs_str)
                for level2 in executionLogs_json:
                    for key2, value2 in level2.items():
                        #try:
                        executionStepLogs_str = json.dumps(level2['executionStepLogs'])
                        executionStepLogs_json = json.loads(executionStepLogs_str)
                        if key2 == 'executionStepLogs':
                            records_no_str = str(i)
                            topProjectName = str(level1['topProjectName'])
                            name_str = str(level1['name'])
                            # Remove any commas from name 
                            check = (',' in name_str)
                            if check == True:
                                name_str = re.sub(',', ';', name_str)                            
                            sessionId_str = str(level2['sessionId'])
                            id_str = str(level2['id'])
                            scriptId_str = str(level2['scriptId'])
                            scriptName_str = str(level2['scriptName'])
                            # Remove any commas from scriptName 
                            check = (',' in scriptName_str)
                            if check == True:
                                scriptName_str = re.sub(',', ';', scriptName_str)                             
                            state_str = str(level2['state'])
                            status2_str = str(level2['status'])
                            lastIssues_str = str(level2['lastIssues'])
                            # Remove any commas from lastIssues_str
                            check = (',' in lastIssues_str)
                            if check == True:
                                lastIssues_str = re.sub(',', ';', lastIssues_str)


                            for level3 in executionStepLogs_json:
                                #for key3, value3 in level3.items():
                                status3_str = str(level3['status'])
                                label_str = str(level3['label'])
                                
                                # These lines replace long text test step labels with short text (that does not wrap)
                                check = ('Click Dynamics 365' in label_str)
                                if check == True:
                                    label_str = 'Click Dynamics 365'
                                check = ('Click Sales Hub' in label_str)
                                if check == True:
                                    label_str = 'Click Sales Hub'
                                check = ('Type value function eaExecuteVariableValue()' in label_str)
                                if check == True:
                                    label_str = 'Type value function eaExecuteVariableValue()'
                                check = ('Select from function eaExecuteVariableValue()' in label_str)
                                if check == True:
                                    label_str = 'Select from function eaExecuteVariableValue()'                                    
                                check = ('Select lookup values function eaExecuteVariableValue()' in label_str)
                                if check == True:
                                    label_str = 'Select lookup values function eaExecuteVariableValue()'
                                # Remove any commas from label_str 
                                check = (',' in label_str)
                                if check == True:
                                    label_str = re.sub(',', ';', label_str)
                                # Now replace all newlines that remain in label_str
                                check = ('\n' in label_str)
                                if check == True:
                                    label_str = re.sub('\n', '/nl/', label_str)
                                # Done with replacing text

                                startTime_str = str(level3['startTime'])
                                endTime_str = str(level3['endTime'])
                                duration_str = str(level3['duration'])
                                lineNum_str = str(level3['lineNum'])
                                StepLogs_id_str = str(level3['id'])

                                #line = topProjectName+','+name_str+','+sessionId_str+','+id_str+','+scriptId_str+','+scriptName_str+','+status2_str+','+label_str+','+state_str+','+status3_str+','+startTime_str+','+endTime_str+','+duration_str+','+lineNum_str+','+StepLogs_id_str+','+takeScreenshots_str+','+screenshotsOnlyOnInterruption_str+'\n'
                                line = topProjectName+','+name_str+','+sessionId_str+','+id_str+','+scriptId_str+','+scriptName_str+','+status2_str+','+label_str+','+state_str+','+status3_str+','+startTime_str+','+endTime_str+','+duration_str+','+lineNum_str+','+StepLogs_id_str+'\n'
                                fw.write(line)
                            # except:
                            #     print('Exception on Level2 for Level1 item '+str(i))
            except:
                #print('Exception for Level1 item '+str(i))
                pass
    print('Processed '+str(i)+' items')           

    # Previous runtime = 4m 19.5s

Processed 10530 items

### Read the denormalized CSV file into a Pandas dataframe

In [193]:
df = pd.read_csv('data/execution/check_structure.csv')

In [212]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88572 entries, 0 to 88571
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   topProjectName   88572 non-null  object
 1   testName         88572 non-null  object
 2   sessionId        88572 non-null  object
 3   executionLogsId  88572 non-null  int64
 4   scriptId         88572 non-null  int64
 5   scriptName       88572 non-null  object
 6   script_status    88572 non-null  object
 7   StepLabel        88572 non-null  object
 8   step_state       88572 non-null  object
 9   step_status      88572 non-null  object
 10  startTime        88572 non-null  object
 11  endTime          88572 non-null  object
 12  duration         88572 non-null  int64
 13  lineNum          88572 non-null  int64
 14  StepLogsId       88572 non-null  int64
 15  duration_sec     88572 non-null  float64
 16  duration_mins    88572 non-null  float64
 17  date             88572 non-null  datetime64[ns]
 18  run              88572 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(6), object(10)
memory usage: 12.8+ MB

In [195]:
df = df.drop_duplicates()
df = df.reset_index(drop=True)
df.rename(columns={'label':'StepLabel'}, inplace=True)
df.rename(columns={'name':'testName'}, inplace=True)

In [197]:
mask = (df['startTime'] == 'None') 
df['startTime'].mask(mask,'2022-01-01T00:00:00.000Z',inplace=True)
df['startTime'] = pd.to_datetime(df['startTime'])

In [198]:
mask = (df['endTime'] == 'None') 
df['endTime'].mask(mask,'2022-01-01T00:00:00.000Z',inplace=True)
df['endTime'] = pd.to_datetime(df['endTime'])

In [199]:
mask = (df['duration'] == 'None') 
df['duration'].mask(mask,'0',inplace=True)
df['duration'] = pd.to_numeric(df['duration'])

In [200]:
df['duration_sec'] = df.duration/1000
df['duration_mins'] = df.duration/1000/60

In [201]:
df['date'] = pd.to_datetime(df['startTime'], format='%Y-%m-%d').dt.date
df['date'] = pd.to_datetime(df['date'])

In [202]:
df['startTime'] = pd.to_datetime(df['startTime']).dt.time
df['endTime'] = pd.to_datetime(df['endTime']).dt.time

In [203]:
# Filter out all history from before the first run
df = df.query("date > '2023-01-18'").copy()

### Add a column to indicate Runs of each test script
As there is no other field available via the API, this field is generated each time the lineNum == 1.  This assumes that there will always be a step 1 in every test case.
Before this can be done, first sort the whole dataframe

In [205]:
df.sort_values(by=['executionLogsId','StepLogsId'], inplace=True)
df = df.reset_index(drop=True)

In [206]:
df['run'] = 0
run = 0
for idx in df.index:
    if df['lineNum'][idx] == 1:
        run = run + 1
    df['run'][idx] = run

 # Previous runtime = 48.3s

/tmp/ipykernel_307/3212998482.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['run'][idx] = run

### Generate a field to indicate where test scripts have run to the last step of the script
This assumes that the last step is "End script"
First sort the dataframe by Runs
Then add a new text field that is a concatenation of all the step labels for each run
Finally, check which of those strings contain the text "End script"

In [207]:
runs_np = df.run.unique()
end_script_dict = {}
for i in runs_np:
    end_script_dict[i] = 'Script stopped'
step_error_dict = {}
for i in runs_np:
    step_error_dict[i] = 'No step errors'

In [208]:
df.sort_values(by=['run'], inplace=True)
df = df.reset_index(drop=True)

In [209]:
for idx in df.index:
    #if run == 10: break
    run = df['run'][idx]
    if df['StepLabel'][idx] == 'End script':
        end_script_dict[run] = 'Script completed'
    if df['step_status'][idx] == 'ERROR':
        step_error_dict[run] = 'One or more step errors'

In [210]:
end_script_df = pd.DataFrame.from_dict(end_script_dict,orient ='index',columns=['script_completion'])
end_script_df.reset_index(inplace=True)
end_script_df.rename(columns={'index':'run'}, inplace=True)

In [211]:
step_error_df = pd.DataFrame.from_dict(step_error_dict,orient ='index',columns=['step_error'])
step_error_df.reset_index(inplace=True)
step_error_df.rename(columns={'index':'run'}, inplace=True)

In [217]:
len(df)

88572

In [214]:
df = pd.merge(
    df,
    end_script_df,
    how="inner",
    on=None,
    left_on='run',
    right_on='run',
    left_index=False,
    right_index=False,
    sort=True,
    suffixes=("_x", "_y"),
    copy=True,
    indicator=False,
    validate=None,
)

In [216]:
df = pd.merge(
    df,
    step_error_df,
    how="inner",
    on=None,
    left_on='run',
    right_on='run',
    left_index=False,
    right_index=False,
    sort=True,
    suffixes=("_x", "_y"),
    copy=True,
    indicator=False,
    validate=None,
)

In [218]:
df.rename(columns={'script_status': 'EA_script_status','step_state': 'EA_step_state','step_status': 'EA_step_status','step_error': 'IPT_step_error','script_completion': 'IPT_script_completion'}, inplace=True)

In [428]:
df['KPI'] = 'Not mapped'

In [501]:
# K1
mask = (df['scriptName'].str.contains('Place a sales local order'))
df['KPI'].mask(mask,'K01 Place a sales local order',inplace=True)

# K2
mask = (df['scriptName'].str.contains('Place a B2B local order'))
df['KPI'].mask(mask,'K02 Place a B2B/EDI order and Send Confirmation',inplace=True)

# K3 Place Service Portal Order
# No test script

# K4
mask = (df['scriptName'].str.contains('Amend an existing sales order'))
df['KPI'].mask(mask,'K04 Amend an existing sales order',inplace=True)

# K5
mask = (df['scriptName'].str.contains('Trade Returns Order'))
df['KPI'].mask(mask,'K05 Place a Trade Returns Order',inplace=True)

# K6
mask = (df['scriptName'].str.contains('Submit a B2B Remittance'))
df['KPI'].mask(mask,'K06 B2B Remittance',inplace=True)

# K7 B2B Remittance Adjustment
# No test script

#K8
mask = (df['scriptName'].str.contains('Receipted payment processing'))
df['KPI'].mask(mask,'K08 Receipted payment processing SA Only at the moment',inplace=True)

# K9 aDSD Batch Job posting invoice for HHD billing document 
# No test script

# K10
mask = (df['scriptName'].str.contains('Credit status check'))
df['KPI'].mask(mask,'K10 Credit status check',inplace=True)

# K11
mask = (df['scriptName'].str.contains('Send Load to Roadnet'))
df['KPI'].mask(mask,'K11 Send Load to Roadnet load for Planning',inplace=True)

# K12
mask = (df['scriptName'].str.contains('Receive load from Roadnet'))
df['KPI'].mask(mask,'K12 Receive load from Roadnet into D365',inplace=True)

# K12b
mask = (df['scriptName'].str.contains('Release to warehouse') & df['scriptName'].str.contains('Roadnet loads'))
df['KPI'].mask(mask,'K12b Release to Warehouse (Roadnet loads)',inplace=True)

# K13
mask = (df['scriptName'].str.contains('Release to Warehouse') & df['scriptName'].str.contains('manual loads'))
df['KPI'].mask(mask,'K13 Release to Warehouse (manually planned loads)',inplace=True)

# K14 Complete Picking Work & Process OOS 
# Not mapped??

# K14b
mask = (df['scriptName'].str.contains('Complete Picking Work') & df['scriptName'].str.contains('manual loads'))
df['KPI'].mask(mask,'K14b Complete Picking Work & Process OOS (manually planned loads)',inplace=True)

# K15
mask = (df['scriptName'].str.contains('aDSD Load confirmation'))
df['KPI'].mask(mask,'K15 aDSD Load confirmation',inplace=True)

# K16
mask = (df['scriptName'].str.contains('Load upload') & df['scriptName'].str.contains('Settlement'))
df['KPI'].mask(mask,'K16 Load upload & Settlement',inplace=True)

# K17
mask = (df['scriptName'].str.contains('Create a cost estimate'))
df['KPI'].mask(mask,'K17 Create a cost estimate for all standard costed procured materials',inplace=True)

# K18
mask = (df['scriptName'].str.contains('Imported Statistical'))
df['KPI'].mask(mask,'K18 Import Actual Statistical entries, into Cost Accounting',inplace=True)

# K19
mask = (df['scriptName'].str.contains('Distribute the range of items pending prices'))
df['KPI'].mask(mask,'K19 Distribute the range of items pending prices to another site',inplace=True)

# K20
mask = ((df['scriptName'].str.contains('Cost Rollup') & df['scriptName'].str.contains('Cost Allocation')) | df['scriptName'].str.contains('Maintain cost distribution table'))
df['KPI'].mask(mask,'K20 Run Cost Rollup and Cost Allocation Policies',inplace=True)

# K21
mask = (df['scriptName'].str.contains('Place SFA order'))
df['KPI'].mask(mask,'K21 Place SFA order and Send Confirmation',inplace=True)

In [430]:
df['KPI'].unique()

array(['K20 Run Cost Rollup and Cost Allocation Policies',
       'K18 Import Actual Statistical entries, into Cost Accounting',
       'Not mapped', 'K11 Send Load to Roadnet load for Planning',
       'K17 Create a cost estimate for all standard costed procured materials',
       'K12 Receive load from Roadnet into D365',
       'K1 Place a sales local order',
       'K13 Release to Warehouse (manually planned loads)',
       'K12b Release to Warehouse (Roadnet loads)',
       'K5 Place a Trade Returns Order',
       'K2 Place a B2B/EDI order and Send Confirmation',
       'K21 Place SFA order and Send Confirmation',
       'K16 Load upload & Settlement',
       'K8 Receipted payment processing SA Only at the moment',
       'K4 Amend an existing sales order', 'K15 aDSD Load confirmation',
       'K14b Complete Picking Work & Process OOS (manually planned loads)',
       'K6 B2B Remittance',
       'K19 Distribute the range of items pending prices to another site'],
      dtype=object)

### Filter the dataset for output on a specific test cycle

In [447]:
exclude_scripts = ['TEST TIMINGS','Test - 10 sessions']

In [502]:
df1 = df.query("date == '2023-01-26' and (IPT_script_completion == 'Script stopped' or IPT_step_error == 'One or more step errors') and testName not in @exclude_scripts").copy()

In [434]:
len(df1['run'].unique())

245

In [503]:
df2 = df.query("date == '2023-01-26' and IPT_script_completion != 'Script stopped' and IPT_step_error != 'One or more step errors' and testName not in @exclude_scripts").copy()

In [437]:
len(df2['run'].unique())

231

In [504]:
df2 = df2.drop_duplicates(keep='first')
df2 = df2.reset_index(drop=True)

In [476]:
z = df2.groupby(['testName','run']).agg({'scriptId': {'first'}, 'duration_sec': {'sum'}}).reset_index()

In [477]:
z.sort_values(by=['testName'], inplace=True)
z = z.reset_index(drop=True)
z.columns = ['_'.join(col) for col in z.columns]

In [478]:
z.rename(columns={'testName_': 'testName', 'run_': 'run', 'scriptId_first': 'scriptId', 'duration_sec_sum': 'duration_sec'}, inplace=True)

In [479]:
z['90percQ'] = 0

In [480]:
scriptID_np = z['scriptId'].unique()

In [481]:
def calculate_outliers(x, scr_id):
    mask = (x['scriptId'] == scr_id)
    y = x[mask]
    q09= y.quantile(.9, numeric_only=True)
    #print(q09['duration_sec_sum'])
    x['90percQ'].mask(mask,q09['duration_sec'],inplace=True)

In [482]:
for scriptId in scriptID_np:
    calculate_outliers(z,scriptId)

In [496]:
mask = (z['duration_sec'] <= z['90percQ'])
z[mask]

,testName,run,scriptId,duration_sec,90percQ
0,10.04.09.07 Create a cost estimate for all sta...,924,59,99.223,99.2230
1,Copy 10 - Receipted payment processing : SA On...,823,423,130.641,130.6410
2,Copy 11 - Receipted payment processing : SA On...,821,424,127.571,127.5710
3,Copy 12 - Receipted payment processing : SA On...,820,425,131.240,131.2400
4,Copy 16 - Receipted payment processing : SA On...,815,429,126.703,126.7030
...,...,...,...,...,...
225,[CE} 08.03.01.02 Place a Trade Returns Order,851,100,3681.347,3790.5274
226,[CE} 08.03.01.02 Place a Trade Returns Order,878,100,3506.054,3790.5274
227,[E2E] Maintain cost distribution table + New -...,834,388,65.472,155.6811
228,[E2E] Maintain cost distribution table + New -...,977,388,152.585,155.6811
230,[E2E] Maintain cost distribution table + New -...,978,388,61.664,155.6811

In [505]:
z1 = df2.groupby(['KPI','run']).agg({'scriptId': {'first'}, 'duration_sec': {'sum'}}).reset_index()
z1.sort_values(by=['KPI'], inplace=True)
z1 = z1.reset_index(drop=True)
z1.columns = ['_'.join(col) for col in z1.columns]
z1.rename(columns={'KPI_': 'KPI', 'run_': 'run', 'scriptId_first': 'scriptId', 'duration_sec_sum': 'duration_sec'}, inplace=True)
z1['90percQ'] = 0
scriptID_np = z1['scriptId'].unique()
def calculate_outliers(x, scr_id):
    mask = (x['scriptId'] == scr_id)
    y = x[mask]
    q09= y.quantile(.9, numeric_only=True)
    #print(q09['duration_sec_sum'])
    x['90percQ'].mask(mask,q09['duration_sec'],inplace=True)
for scriptId in scriptID_np:
    calculate_outliers(z1,scriptId)

In [510]:
z1

,KPI,run,scriptId,duration_sec,90percQ
0,K01 Place a sales local order,879,90,3859.097,4238.7900
1,K01 Place a sales local order,907,90,3341.162,4238.7900
2,K01 Place a sales local order,906,90,3207.278,4238.7900
3,K01 Place a sales local order,905,90,3072.661,4238.7900
4,K01 Place a sales local order,904,90,3953.545,4238.7900
...,...,...,...,...,...
226,K21 Place SFA order and Send Confirmation,704,94,3778.442,4000.2873
227,K21 Place SFA order and Send Confirmation,703,94,3777.665,4000.2873
228,K21 Place SFA order and Send Confirmation,702,94,3709.816,4000.2873
229,K21 Place SFA order and Send Confirmation,708,94,3704.802,4000.2873
230,K21 Place SFA order and Send Confirmation,780,94,3817.933,4000.2873

In [511]:
# mask = (z1['duration_sec'] <= z['90percQ'])
# z1[mask].groupby(['KPI']).agg({'duration_sec': {'mean'}}).reset_index().sort_values(by=['KPI'])
z1.groupby(['KPI']).agg({'duration_sec': {'mean'}, 'run': {'count'}}).reset_index().sort_values(by=['KPI'])

                                                  KPI duration_sec   run
                                                              mean count
0                       K01 Place a sales local order  3555.849522    23
1     K02 Place a B2B/EDI order and Send Confirmation  3930.784460    50
2                     K05 Place a Trade Returns Order  3437.480000    23
3                                  K06 B2B Remittance   237.088500     2
4   K08 Receipted payment processing SA Only at th...   128.271857     7
5          K11 Send Load to Roadnet load for Planning  1945.755273    11
6             K12 Receive load from Roadnet into D365   160.740500    10
7           K12b Release to Warehouse (Roadnet loads)  2372.012185    27
8                        K16 Load upload & Settlement    26.953000     2
9   K17 Create a cost estimate for all standard co...    99.223000     1
10  K18 Import Actual Statistical entries, into Co...   136.355000     1
11   K20 Run Cost Rollup and Cost Allocation Policies   109.182250     4
12          K21 Place SFA order and Send Confirmation  3824.103029    70

### Generate an output file in CSV format

In [225]:
df2.to_csv('data/execution/result.csv',index=False)

### Aggregate to extract measures

In [243]:
def summary(x):
    runs = x['executionLogsId'].nunique()
    runs = float(runs)
    duration = x['duration'].sum()/1000
    duration_90 = x['duration'].quantile(0.9).sum()/1000
    mean_s = x['duration'].mean()/1000
    mean_90 = x['duration'].quantile(0.9).mean()/1000
    count = duration/mean_s
    result = {
        #'aggr_duration': duration,
        #'aggr_duration_minutes': duration/60,
        #'runs': runs,
        'mean': mean_s,
        'mean_90': mean_90,
        'mean_minutes': duration/runs/60
        #'steps': count
    }
    return pd.Series(result).round(1)

#df2.groupby(['scriptName','sessionId']).apply(summary).to_html('data/execution/result.html')
df2.groupby(['testName', 'executionLogsId']).apply(summary).to_html('data/execution/result.html')
#df2.groupby(['testName', 'executionLogsId']).quantile(.90).apply(summary).to_html('data/execution/result.html')
#df2.groupby(['testName', 'executionLogsId']).apply(summary).to_excel('data/execution/result_groupby.xlsx')
#df2.groupby(['testName', 'executionLogsId']).agg({'executionLogsId': {'nunique'}, 'duration' : {'sum'}})
#df2.groupby(['testName']).apply(summary).to_html('data/execution/result.html')

### From here on the script is disabled.

In [162]:
# Insert this to prevent the cells below from trying to write to the sql table
raise SystemExit("Stop right here!")

SystemExit: Stop right here!

/home/wo/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

### Get ready to export to SQL

In [ ]:
mask = (df['date'] > '2023-01-10')
#df.loc[(df['date'] > '2023-01-10')]
df = df[mask]

In [ ]:
# https://learn.microsoft.com/en-us/sql/machine-learning/data-exploration/python-dataframe-pandas?view=sql-server-ver16
# Some other example server values are
# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server = 'tcp:csazniptlsql01.database.windows.net,1433' 
database = 'CSAZN-INT-IPT-L-DSQ-01' 
username = 'ccbaadmin' 
password = '@FireBase123' 
# ENCRYPT defaults to yes starting in ODBC Driver 18. It's good to always specify ENCRYPT=yes on the client side to avoid MITM attacks.
cnxn = pyodbc.connect('DRIVER={ODBC Driver 18 for SQL Server};SERVER='+server+';DATABASE='+database+';ENCRYPT=yes;UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

In [ ]:
# cursor = cnxn.cursor()

# cursor.execute('''
# 		CREATE TABLE ea_script_history (
# 			records_no int,
#             topProjectName nvarchar(255),
#             testName nvarchar(255),
#             sessionId nvarchar(255),
#             id int,
#             scriptId int,
#             scriptName nvarchar(255),
#             state nvarchar(255),
#             status nvarchar(255),
#             StepLabel nvarchar(255),
#             startTime datetime,
#             endTime datetime,
#             duration int,
#             lineNum int,
#             StepLogs_id int
# 			)
#                ''')

# cnxn.commit()

In [ ]:
cnxn = pyodbc.connect('DRIVER={ODBC Driver 18 for SQL Server};SERVER='+server+';DATABASE='+database+';ENCRYPT=yes;UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
i = 0
for index, row in df.iterrows():
     cursor.execute("INSERT INTO ea_script_history (records_no,topProjectName,testName,sessionId,id,scriptId,scriptName,state,status,StepLabel,startTime,endTime,duration,lineNum,StepLogs_id) values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)", row.records_no, row.topProjectName, row.testName, row.sessionId, row.id, row.scriptId, row.scriptName, row.state, row.status, row.StepLabel, row.startTime, row.endTime, row.duration, row.lineNum, row.StepLogs_id)
     i = i + 1
     if i == 1000:
          i = 0
          cnxn.commit()          
cnxn.commit()
cursor.close()

In [ ]:
# cnxn = pyodbc.connect('DRIVER={ODBC Driver 18 for SQL Server};SERVER='+server+';DATABASE='+database+';ENCRYPT=yes;UID='+username+';PWD='+ password)
# cursor = cnxn.cursor()
# # Insert Dataframe into SQL Server:
# for index, row in df.iterrows():
#      cursor.execute("INSERT INTO ea_script_history (startTime) values(?)", row.startTime)
# cnxn.commit()
# cursor.close()

In [ ]:
# Delete all the rows in the SQl script history table
cursor = cnxn.cursor()
cursor.execute("DELETE FROM ea_script_history")
cnxn.commit()
cursor.close()

In [ ]:
# Drop the SQl script history table (it must be re-created)
cursor = cnxn.cursor()
cursor.execute("DROP Table ea_script_history")
#cursor.execute("DROP Table temp_table")
cnxn.commit()
cursor.close()