In [1]:
import json
import numpy as np
import pandas as pd
import lxml
import re
import os
from datetime import datetime
import pyodbc
import requests

In [3]:
df = pd.DataFrame(columns=['Name', 'Age'])

In [4]:
new_row = {'Courses':'Hyperion', 'Fee':24000, 'Duration':'55days', 'Discount':1800}
df2 = df.append(new_row, ignore_index=True)

Empty DataFrame
Columns: [Name, Age]
Index: []

In [2]:
datetime_str = '2022-11-10T07:52:23.246Z'

In [6]:
datetime_str = datetime_str[0:10]

In [7]:
dat = datetime.strptime(datetime_str, '%Y-%m-%d')

In [3]:
import numpy as np

def f(x):
    return x**3 + x**2 - x - 1

def f_prime(x):
    return 3*x**2 + 2*x - 1

x0 = 100
x = x0 - f(x0)/f_prime(x0)
tolerance = 1e-6

while abs(x - x0) > tolerance:
    x0 = x
    x = x0 - f(x0)/f_prime(x0)

print(x)

1.0